
.Button {
   outline: none;
  border: 2px solid black;
   cursor: pointer;
   font: inherit;
   padding: 10px;
   margin: 10px;
   font-weight: bold;
   text-align: center;
   transition: all 0.2s;
}

.Success {
  background-color: transparent;
  border: 2px solid rgb(142, 187, 124);
   color: #5C9210;
}
.Success:active {
  background-color: rgb(142, 187, 124);
}

.Danger {
  background-color: transparent;
  border: 2px solid rgb(187, 125, 125);
   color: #944317;
}
.Danger:active {
  background-color: rgb(142, 187, 124);
}
.Purple {
    background-color: transparent;
    border: 2px solid rgba(119, 27, 222, 0.5);
    color: rgba(58, 27, 74, 0.7);
}
.Purple:active{
  background-color: rgba(119, 27, 222, 0.5);
}
