.container{
  min-height: 400px;
  font-size: 20px;
  border: 1px solid rgb(119, 27, 222);
  box-shadow: 0px 0px 12px rgb(75, 75, 75);
  border-radius: 6px;
  width: 600px;
  margin-left: 400px;
}

.jokes{
  box-shadow: 0px 0px 12px rgba(119, 27, 222, 0.5);
  font-size: 14px;
  padding: 10px;
}
